.like-img {
  width: 10rem;
}

.dislike-img {
  width: 10rem;
}

.top-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}

.like-container,
.dislike-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.like-container span,
.dislike-container span {
  margin-top: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
  text-align: center;
}
.lion {
  width: 40rem;
}
.middle-main {
  margin-top: 40px;
}
.bottom-main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
  margin-top: 40px;
}
