.like-img {
  width: 10rem;
}

.dislike-img {
  width: 10rem;
}
.posCount {
  font-size: 100px;
  background-color: rgba(28, 235, 1, 0.7);
  border-radius: 20px;
}
.negCount {
  font-size: 100px;
  background-color: rgba(235, 1, 1, 0.7);
  border-radius: 20px;
}

.top-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}

.like-container,
.dislike-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.like-container span,
.dislike-container span {
  margin-top: 1rem;

  padding: 5px;
  text-align: center;
}
.image {
  max-width: 40rem;
  max-height: 30rem;
  min-height: 30rem;
  min-width: 40rem;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 1.1), 0 17px 50px 0 rgba(0, 0, 0, 1.1);
  border-radius: 30px;
}
.middle-main {
  margin-top: 40px;
}
.random-text {
  font-size: 40px;
}

.bottom-main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
  margin-top: 40px;
}
.true-btn {
  background-color: #0c9bb4;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.true-btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.not-true-btn {
  background-color: #0c9bb4;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.not-true-btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.replacement-text {
  font-size: 90px;
}
